html, body, code {
  background-color: lightgray;
}
div.divisor {
  background-color: gray;
  margin: 15px;
  padding: 10px;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  text-align: center;
}
div.divisor:hover {
  background-color: yellow;
}
button {
  font-size: 19px;
  padding: 20px;
  border-radius: 10px;
  color: red;
  font-weight: bold;
}
